.bgInputs{

    background-color: rgb(50,56,62);
}

.Create{
    margin-top: 1.3rem !important;
    color: rgb(181, 178, 178);
    font-weight: 600 !important;
}
.btnCreate{
    background-color: rgb(58,63,68) !important ;
    border-color: #22241d !important;
    
}
.Already{
        color: rgb(181, 178, 178);

}

.imgLogin{

    width: 17%;
}
.Log{
    margin-top: 1.5rem !important;
    color: rgb(181, 178, 178);
    font-weight: 800 !important;
}

.colorForgot{
        color: #4799eb;

}